.nav{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.nav-link{
    display:block;
    padding:.5rem 1rem
}
.nav-link:focus,.nav-link:hover{
    text-decoration:none
}
.nav-link.disabled{
    color:#6c757d;
    pointer-events:none;
    cursor:default
}

.pagination{
    display:-ms-flexbox;
    display:flex;
    padding-left:0;
    list-style:none;
    border-radius:.25rem
}

.pageItem:first-child .pageLink{
    margin-left:0;
    border-top-left-radius:.25rem;
    border-bottom-left-radius:.25rem
}
.pageItem:last-child .pageLink{
    border-top-right-radius:.25rem;
    border-bottom-right-radius:.25rem
}
.pageItem.active .pageLink{
    z-index:1;
    color:#fff;
    background-color:#007bff;
    border-color:#007bff
}
.pageItem.disabled .pageLink{
    color:#6c757d;
    pointer-events:none;
    cursor:auto;
    background-color:#fff;
    border-color:#dee2e6
}


.pagination-lg .pageItem:first-child .pageLink{
    border-top-left-radius:.3rem;
    border-bottom-left-radius:.3rem
}
.pagination-lg .pageItem:last-child .pageLink{
    border-top-right-radius:.3rem;
    border-bottom-right-radius:.3rem
}
.pagination-sm .pageLink{
    padding:.25rem .5rem;
    font-size:.875rem;
    line-height:1.5
}
.pagination-sm .pageItem:first-child .pageLink{
    border-top-left-radius:.2rem;
    border-bottom-left-radius:.2rem
}
.pagination-sm .pageItem:last-child .pageLink{
    border-top-right-radius:.2rem;
    border-bottom-right-radius:.2rem
}